body{
    background-color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#tips{
    display: flex;
    flex-direction: row;
    width: 800px;
    background-color: white;
    padding: 30px 50px;
    border-radius: 0 0 30px 30px;
    margin: 0;
    position: fixed;
    color: #fff;
    left: calc(50% - 400px - 50px);
    top: -100px;
    gap: 30px;
    transition: top 0.5s;
}
#download{
    display: flex;
    gap: 20px;
}
#main{
    display: flex;
    flex-direction: row;
    width: 800px;
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    margin: 50px auto;
    gap: 30px;
}
#left,#right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
#left{
    width: 100%;
}
#right{
    width: 256px;
}
#upload-form{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
}
#upload-area{
    display: flex;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
}
h1{
    line-height: 100%;
    margin: 0;
    padding: 0;
}
p {
    line-height: 100%;
    margin: 0;
    padding: 0;
}
#title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#box,
#generated-qrcode-svg,
#status {
    width: 256px;
    height: 256px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#generated-qrcode-svg,
#status {
    position: absolute;
    top: 0;
    left: 0;
}

#box {
    position: relative;
}

#option {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

#option * {
    /* 不换行 */
    white-space: nowrap;
    box-sizing: border-box;
}

.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
}

.drop-area:hover {
    border-color: #333;
}

#status {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #A443FF;
    font-size: 20px;
    font-weight: bold;
}

#status dotlottie-player {
    width: 128px;
    height: 128px;
}
input[type="file"]::file-selector-button {
    display: none !important;
    font-size: 14px;
}
input:is([type="button"], [type="submit"], [type="reset"]),
button {
    border: none !important;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #A443FF;
    color: #fff;
    line-height: 100%;
    cursor: pointer;
    height: 30px;
}
label {
    font-size: 14px;
}
div#upload-area * {
    font-size: 16px !important;
}
#ecl {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url(../img/down.svg);
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-color: #d9d9d9;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    justify-content: center;
    height: 30px;
    text-indent: 10px;
    font-size: 14px;
}